* {
    padding: 1rem;
    margin: 1rem;
}

.square {
    --size:200px;
    width:var(--size);
    height:var(--size);
    border:5px solid red;
    transition: background-color 1s;
    border-radius: 50%;
    box-shadow: 2px black inset;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}